In [2]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [3]:
df = pd.read_csv('installments_payments.csv')
pd.set_option('display.max_columns', None)

In [4]:
df.sample(10)

,SK_ID_PREV,SK_ID_CURR,NUM_INSTALMENT_VERSION,NUM_INSTALMENT_NUMBER,DAYS_INSTALMENT,DAYS_ENTRY_PAYMENT,AMT_INSTALMENT,AMT_PAYMENT
451518,1438989,163546,0.0,19,-2450.0,-2450.0,225.000,225.000
2372085,2167053,121724,1.0,2,-2428.0,-2430.0,5972.985,5972.985
2648306,1984183,134781,1.0,11,-1042.0,-1058.0,12050.550,12050.550
2262430,1093381,143322,1.0,5,-1300.0,-1309.0,7922.340,7922.340
2150713,1385711,162525,0.0,39,-467.0,-467.0,2458.080,2458.080
3594864,1880883,110582,1.0,3,-357.0,-375.0,29435.625,29435.625
3063156,1968885,161901,4.0,18,-256.0,-277.0,2189.295,2189.295
3186222,1314817,178942,1.0,4,-646.0,-657.0,10373.220,10373.220
1372539,2693724,177276,2.0,14,-154.0,-161.0,23178.060,23178.060
2824400,2294156,162319,1.0,16,-2050.0,-2045.0,20561.940,20523.555

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4005024 entries, 0 to 4005023
Data columns (total 8 columns):
 #   Column                  Dtype
---  ------                  -----
 0   SK_ID_PREV              int64
 1   SK_ID_CURR              int64
 2   NUM_INSTALMENT_VERSION  float64
 3   NUM_INSTALMENT_NUMBER   int64
 4   DAYS_INSTALMENT         float64
 5   DAYS_ENTRY_PAYMENT      float64
 6   AMT_INSTALMENT          float64
 7   AMT_PAYMENT             float64
dtypes: float64(5), int64(3)
memory usage: 244.4 MB

In [7]:
pd.set_option('display.max_columns', None)

# Pilih kolom-kolom bertipe objek dan simpan dalam variabel 'categoric'
categoric = df.select_dtypes('object')

# Pilih kolom-kolom bertipe numerik dan simpan dalam variabel 'numeric'
numeric = df.select_dtypes('number')

# Tentukan jumlah baris dan kolom
rows = df.shape[0]
cols = df.shape[1]

# Cetak bentuk DataFrame
print(f'Jumlah Baris: {rows}\nJumlah Kolom: {cols}')

# Cetak ringkasan statistik data numerik
print('\nRingkasan Statistik Data Numerik:')
display(numeric.describe().T)

Jumlah Baris: 4005024
Jumlah Kolom: 8

Ringkasan Statistik Data Numerik:

,count,mean,std,min,25%,50%,75%,max
SK_ID_PREV,4005024.0,1.901019e+06,536111.569491,1000001.0,1430921.750,1895423.000,2366409.000,2843495.000
SK_ID_CURR,4005024.0,1.552643e+05,36317.743538,100001.0,126567.000,152859.000,179325.000,299997.000
NUM_INSTALMENT_VERSION,4005024.0,8.553657e-01,0.999702,0.0,0.000,1.000,1.000,68.000
NUM_INSTALMENT_NUMBER,4005024.0,1.891596e+01,26.811015,1.0,4.000,8.000,19.000,273.000
DAYS_INSTALMENT,4005024.0,-1.044728e+03,801.784078,-2922.0,-1658.000,-822.000,-362.000,-2.000
DAYS_ENTRY_PAYMENT,4004264.0,-1.053582e+03,801.399579,-3115.0,-1667.000,-831.000,-371.000,-2.000
AMT_INSTALMENT,4005024.0,1.705689e+04,50989.946208,0.0,4227.120,8880.930,16660.755,3473582.895
AMT_PAYMENT,4004263.0,1.723073e+04,55092.100391,0.0,3400.155,8127.945,16056.810,3473582.895

In [10]:
dfe = df.copy()
# Memeriksa baris duplikat
duplicate_rows = dfe.duplicated()

# Menampilkan jumlah baris duplikat
print(f"Jumlah baris duplikat: {duplicate_rows.sum()}")

# Fungsi untuk menghitung dan menampilkan kolom dengan nilai missing
def check_nan(dfe):
    # Hitung nilai null
    null_values = dfe.isnull().sum()

    # Buat DataFrame untuk total nilai null dan persentase
    nvc = pd.DataFrame(null_values[null_values > 0].sort_values(), columns=['Total Null Values'])  # Hanya ambil kolom dengan nilai null
    nvc['Percentage'] = (nvc['Total Null Values'] / dfe.shape[0]) * 100
    nvc["Data Type"] = [dfe[col].dtype for col in nvc.index]  # Ambil tipe data dari kolom yang ada

    # Urutkan berdasarkan total nilai null dan persentase
    nvc.sort_values(by=["Total Null Values", "Percentage"], ascending=False, inplace=True)

    # Tampilkan hasil dengan gaya
    return nvc.style.background_gradient(cmap='Blues')

# Panggil fungsi dan simpan hasilnya
styled_result = check_nan(dfe)
styled_result

Jumlah baris duplikat: 0

In [11]:
# drop missing value pada 2 kolom tsb karena persentasenya kecil jadi tidak terlalu berdampak nanti pada model
dfe.dropna(subset=['DAYS_ENTRY_PAYMENT', 'AMT_PAYMENT'], inplace=True)

In [12]:
# Panggil fungsi dan simpan hasilnya
styled_result = check_nan(dfe)

styled_result

In [13]:
#simpan
dfe.to_parquet('installments_payments.parquet', index=False)