In [20]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [21]:
df = pd.read_csv('previous_application.csv')
pd.set_option('display.max_columns', None)
df.sample(10)

,SK_ID_PREV,SK_ID_CURR,NAME_CONTRACT_TYPE,AMT_ANNUITY,AMT_APPLICATION,AMT_CREDIT,AMT_DOWN_PAYMENT,AMT_GOODS_PRICE,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,FLAG_LAST_APPL_PER_CONTRACT,NFLAG_LAST_APPL_IN_DAY,RATE_DOWN_PAYMENT,RATE_INTEREST_PRIMARY,RATE_INTEREST_PRIVILEGED,NAME_CASH_LOAN_PURPOSE,NAME_CONTRACT_STATUS,DAYS_DECISION,NAME_PAYMENT_TYPE,CODE_REJECT_REASON,NAME_TYPE_SUITE,NAME_CLIENT_TYPE,NAME_GOODS_CATEGORY,NAME_PORTFOLIO,NAME_PRODUCT_TYPE,CHANNEL_TYPE,SELLERPLACE_AREA,NAME_SELLER_INDUSTRY,CNT_PAYMENT,NAME_YIELD_GROUP,PRODUCT_COMBINATION,DAYS_FIRST_DRAWING,DAYS_FIRST_DUE,DAYS_LAST_DUE_1ST_VERSION,DAYS_LAST_DUE,DAYS_TERMINATION,NFLAG_INSURED_ON_APPROVAL
1049327,2366426,132086,Revolving loans,22500.000,0.000,450000.0,NaN,NaN,WEDNESDAY,12,Y,1,NaN,NaN,NaN,XAP,Approved,-1596,XNA,XAP,NaN,Repeater,XNA,Cards,x-sell,Contact center,-1,XNA,0.0,XNA,Card X-Sell,-1591.0,-1567.0,365243.0,365243.0,365243.0,0.0
640208,1917919,219318,Cash loans,17790.300,540000.000,646920.0,NaN,540000.000,TUESDAY,8,Y,1,NaN,NaN,NaN,XNA,Refused,-421,Cash through the bank,HC,Unaccompanied,Refreshed,XNA,Cash,x-sell,Credit and cash offices,-1,XNA,60.0,low_normal,Cash X-Sell: low,NaN,NaN,NaN,NaN,NaN,NaN
155506,1022989,431315,Cash loans,15772.500,450000.000,568800.0,NaN,450000.000,TUESDAY,16,Y,1,NaN,NaN,NaN,Repairs,Refused,-279,XNA,LIMIT,Unaccompanied,Repeater,XNA,Cash,walk-in,Credit and cash offices,-1,XNA,60.0,low_normal,Cash Street: low,NaN,NaN,NaN,NaN,NaN,NaN
931059,2369704,356106,Cash loans,7395.480,90000.000,98910.0,NaN,90000.000,FRIDAY,12,Y,1,NaN,NaN,NaN,XNA,Approved,-819,XNA,XAP,NaN,Repeater,XNA,Cash,x-sell,Credit and cash offices,-1,XNA,18.0,middle,Cash X-Sell: middle,365243.0,-789.0,-279.0,-789.0,-782.0,1.0
1406062,1344982,251232,Consumer loans,4373.865,17905.500,21271.5,0.000,17905.500,MONDAY,10,Y,1,0.000000,NaN,NaN,XAP,Approved,-717,Cash through the bank,XAP,Children,Refreshed,Mobile,POS,XNA,Country-wide,18,Connectivity,6.0,high,POS mobile with interest,365243.0,-686.0,-536.0,-596.0,-592.0,0.0
930885,2021722,228716,Revolving loans,NaN,0.000,0.0,NaN,NaN,THURSDAY,14,Y,1,NaN,NaN,NaN,XAP,Canceled,-307,XNA,XAP,NaN,Repeater,XNA,XNA,XNA,Credit and cash offices,-1,XNA,NaN,XNA,Card Street,NaN,NaN,NaN,NaN,NaN,NaN
562678,2265646,256322,Consumer loans,14243.625,85459.095,76909.5,8549.595,85459.095,SATURDAY,10,Y,1,0.108956,NaN,NaN,XAP,Approved,-2688,Cash through the bank,XAP,"Spouse, partner",New,Consumer Electronics,POS,XNA,Country-wide,820,Consumer electronics,6.0,middle,POS household without interest,365243.0,-2657.0,-2507.0,-2567.0,-2561.0,0.0
1457952,1032589,258349,Consumer loans,9660.690,103500.000,103500.0,0.000,103500.000,FRIDAY,12,Y,1,0.000000,NaN,NaN,XAP,Approved,-334,Cash through the bank,XAP,NaN,Repeater,Homewares,POS,XNA,Country-wide,30,Construction,12.0,low_normal,POS other with interest,365243.0,-300.0,30.0,-90.0,-87.0,0.0
1008593,1479425,127595,Cash loans,NaN,0.000,0.0,NaN,NaN,FRIDAY,12,Y,1,NaN,NaN,NaN,XNA,Canceled,-403,XNA,XAP,NaN,Repeater,XNA,XNA,XNA,Credit and cash offices,-1,XNA,NaN,XNA,Cash,NaN,NaN,NaN,NaN,NaN,NaN
1360966,2011461,409138,Revolving loans,5625.000,0.000,112500.0,NaN,NaN,FRIDAY,13,Y,1,NaN,NaN,NaN,XAP,Approved,-2567,XNA,XAP,NaN,Repeater,XNA,Cards,x-sell,Stone,170,Consumer electronics,0.0,XNA,Card Street,-2564.0,-2509.0,365243.0,-1290.0,-706.0,0.0

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1670214 entries, 0 to 1670213
Data columns (total 37 columns):
 #   Column                       Non-Null Count    Dtype
---  ------                       --------------    -----
 0   SK_ID_PREV                   1670214 non-null  int64
 1   SK_ID_CURR                   1670214 non-null  int64
 2   NAME_CONTRACT_TYPE           1670214 non-null  object
 3   AMT_ANNUITY                  1297979 non-null  float64
 4   AMT_APPLICATION              1670214 non-null  float64
 5   AMT_CREDIT                   1670213 non-null  float64
 6   AMT_DOWN_PAYMENT             774370 non-null   float64
 7   AMT_GOODS_PRICE              1284699 non-null  float64
 8   WEEKDAY_APPR_PROCESS_START   1670214 non-null  object
 9   HOUR_APPR_PROCESS_START      1670214 non-null  int64
 10  FLAG_LAST_APPL_PER_CONTRACT  1670214 non-null  object
 11  NFLAG_LAST_APPL_IN_DAY       1670214 non-null  int64
 12  RATE_DOWN_PAYMENT            774370 non-null   float64
 13  RATE_INTEREST_PRIMARY        5951 non-null     float64
 14  RATE_INTEREST_PRIVILEGED     5951 non-null     float64
 15  NAME_CASH_LOAN_PURPOSE       1670214 non-null  object
 16  NAME_CONTRACT_STATUS         1670214 non-null  object
 17  DAYS_DECISION                1670214 non-null  int64
 18  NAME_PAYMENT_TYPE            1670214 non-null  object
 19  CODE_REJECT_REASON           1670214 non-null  object
 20  NAME_TYPE_SUITE              849809 non-null   object
 21  NAME_CLIENT_TYPE             1670214 non-null  object
 22  NAME_GOODS_CATEGORY          1670214 non-null  object
 23  NAME_PORTFOLIO               1670214 non-null  object
 24  NAME_PRODUCT_TYPE            1670214 non-null  object
 25  CHANNEL_TYPE                 1670214 non-null  object
 26  SELLERPLACE_AREA             1670214 non-null  int64
 27  NAME_SELLER_INDUSTRY         1670214 non-null  object
 28  CNT_PAYMENT                  1297984 non-null  float64
 29  NAME_YIELD_GROUP             1670214 non-null  object
 30  PRODUCT_COMBINATION          1669868 non-null  object
 31  DAYS_FIRST_DRAWING           997149 non-null   float64
 32  DAYS_FIRST_DUE               997149 non-null   float64
 33  DAYS_LAST_DUE_1ST_VERSION    997149 non-null   float64
 34  DAYS_LAST_DUE                997149 non-null   float64
 35  DAYS_TERMINATION             997149 non-null   float64
 36  NFLAG_INSURED_ON_APPROVAL    997149 non-null   float64
dtypes: float64(15), int64(6), object(16)
memory usage: 471.5+ MB

In [23]:
pd.set_option('display.max_columns', None)

# Pilih kolom-kolom bertipe objek dan simpan dalam variabel 'categoric'
categoric = df.select_dtypes('object')

# Pilih kolom-kolom bertipe numerik dan simpan dalam variabel 'numeric'
numeric = df.select_dtypes('number')

# Tentukan jumlah baris dan kolom
rows = df.shape[0]
cols = df.shape[1]

# Cetak bentuk DataFrame
print(f'Jumlah Baris: {rows}\nJumlah Kolom: {cols}')

# Cetak ringkasan statistik data kategorikal
print('\nRingkasan Statistik Data Kategorikal:')
display(categoric.describe().T)

# Cetak ringkasan statistik data numerik
print('\nRingkasan Statistik Data Numerik:')
display(numeric.describe().T)

Jumlah Baris: 1670214
Jumlah Kolom: 37

Ringkasan Statistik Data Kategorikal:

                               count unique                      top     freq
NAME_CONTRACT_TYPE           1670214      4               Cash loans   747553
WEEKDAY_APPR_PROCESS_START   1670214      7                  TUESDAY   255118
FLAG_LAST_APPL_PER_CONTRACT  1670214      2                        Y  1661739
NAME_CASH_LOAN_PURPOSE       1670214     25                      XAP   922661
NAME_CONTRACT_STATUS         1670214      4                 Approved  1036781
NAME_PAYMENT_TYPE            1670214      4    Cash through the bank  1033552
CODE_REJECT_REASON           1670214      9                      XAP  1353093
NAME_TYPE_SUITE               849809      7            Unaccompanied   508970
NAME_CLIENT_TYPE             1670214      4                 Repeater  1231261
NAME_GOODS_CATEGORY          1670214     28                      XNA   950809
NAME_PORTFOLIO               1670214      5                      POS   691011
NAME_PRODUCT_TYPE            1670214      3                      XNA  1063666
CHANNEL_TYPE                 1670214      8  Credit and cash offices   719968
NAME_SELLER_INDUSTRY         1670214     11                      XNA   855720
NAME_YIELD_GROUP             1670214      5                      XNA   517215
PRODUCT_COMBINATION          1669868     17                     Cash   285990

Ringkasan Statistik Data Numerik:

,count,mean,std,min,25%,50%,75%,max
SK_ID_PREV,1670214.0,1.923089e+06,532597.958696,1.000001e+06,1.461857e+06,1.923110e+06,2.384280e+06,2845382.000
SK_ID_CURR,1670214.0,2.783572e+05,102814.823849,1.000010e+05,1.893290e+05,2.787145e+05,3.675140e+05,456255.000
AMT_ANNUITY,1297979.0,1.595512e+04,14782.137335,0.000000e+00,6.321780e+03,1.125000e+04,2.065842e+04,418058.145
AMT_APPLICATION,1670214.0,1.752339e+05,292779.762387,0.000000e+00,1.872000e+04,7.104600e+04,1.803600e+05,6905160.000
AMT_CREDIT,1670213.0,1.961140e+05,318574.616546,0.000000e+00,2.416050e+04,8.054100e+04,2.164185e+05,6905160.000
AMT_DOWN_PAYMENT,774370.0,6.697402e+03,20921.495410,-9.000000e-01,0.000000e+00,1.638000e+03,7.740000e+03,3060045.000
AMT_GOODS_PRICE,1284699.0,2.278473e+05,315396.557937,0.000000e+00,5.084100e+04,1.123200e+05,2.340000e+05,6905160.000
HOUR_APPR_PROCESS_START,1670214.0,1.248418e+01,3.334028,0.000000e+00,1.000000e+01,1.200000e+01,1.500000e+01,23.000
NFLAG_LAST_APPL_IN_DAY,1670214.0,9.964675e-01,0.059330,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000
RATE_DOWN_PAYMENT,774370.0,7.963682e-02,0.107823,-1.497876e-05,0.000000e+00,5.160508e-02,1.089091e-01,1.000
RATE_INTEREST_PRIMARY,5951.0,1.883569e-01,0.087671,3.478125e-02,1.607163e-01,1.891222e-01,1.933299e-01,1.000
RATE_INTEREST_PRIVILEGED,5951.0,7.735025e-01,0.100879,3.731501e-01,7.156448e-01,8.350951e-01,8.525370e-01,1.000
DAYS_DECISION,1670214.0,-8.806797e+02,779.099667,-2.922000e+03,-1.300000e+03,-5.810000e+02,-2.800000e+02,-1.000
SELLERPLACE_AREA,1670214.0,3.139511e+02,7127.443459,-1.000000e+00,-1.000000e+00,3.000000e+00,8.200000e+01,4000000.000
CNT_PAYMENT,1297984.0,1.605408e+01,14.567288,0.000000e+00,6.000000e+00,1.200000e+01,2.400000e+01,84.000
DAYS_FIRST_DRAWING,997149.0,3.422099e+05,88916.115834,-2.922000e+03,3.652430e+05,3.652430e+05,3.652430e+05,365243.000
DAYS_FIRST_DUE,997149.0,1.382627e+04,72444.869708,-2.892000e+03,-1.628000e+03,-8.310000e+02,-4.110000e+02,365243.000
DAYS_LAST_DUE_1ST_VERSION,997149.0,3.376777e+04,106857.034789,-2.801000e+03,-1.242000e+03,-3.610000e+02,1.290000e+02,365243.000
DAYS_LAST_DUE,997149.0,7.658240e+04,149647.415123,-2.889000e+03,-1.314000e+03,-5.370000e+02,-7.400000e+01,365243.000
DAYS_TERMINATION,997149.0,8.199234e+04,153303.516729,-2.874000e+03,-1.270000e+03,-4.990000e+02,-4.400000e+01,365243.000
NFLAG_INSURED_ON_APPROVAL,997149.0,3.325702e-01,0.471134,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,1.000

In [24]:
dfe = df.copy()
# Memeriksa baris duplikat
duplicate_rows = dfe.duplicated()

# Menampilkan jumlah baris duplikat
print(f"Jumlah baris duplikat: {duplicate_rows.sum()}")

# Fungsi untuk menghitung dan menampilkan kolom dengan nilai missing
def check_nan(dfe):
    # Hitung nilai null
    null_values = dfe.isnull().sum()

    # Buat DataFrame untuk total nilai null dan persentase
    nvc = pd.DataFrame(null_values[null_values > 0].sort_values(), columns=['Total Null Values'])  # Hanya ambil kolom dengan nilai null
    nvc['Percentage'] = (nvc['Total Null Values'] / dfe.shape[0]) * 100
    nvc["Data Type"] = [dfe[col].dtype for col in nvc.index]  # Ambil tipe data dari kolom yang ada

    # Urutkan berdasarkan total nilai null dan persentase
    nvc.sort_values(by=["Total Null Values", "Percentage"], ascending=False, inplace=True)

    # Tampilkan hasil dengan gaya
    return nvc.style.background_gradient(cmap='Blues')

# Panggil fungsi dan simpan hasilnya
styled_result = check_nan(dfe)

# Untuk menampilkan hasil di Jupyter Notebook, gunakan:
styled_result

Jumlah baris duplikat: 0

In [25]:
# 1. Drop kolom dengan missing value > 99%
dfe.drop(columns=['RATE_INTEREST_PRIMARY', 'RATE_INTEREST_PRIVILEGED'], inplace=True)

# 2. Imputasi numerik
dfe['AMT_DOWN_PAYMENT'].fillna(0, inplace=True)
dfe['RATE_DOWN_PAYMENT'].fillna(0, inplace=True)
dfe['DAYS_FIRST_DRAWING'].fillna(dfe['DAYS_FIRST_DRAWING'].median(), inplace=True)
dfe['DAYS_FIRST_DUE'].fillna(dfe['DAYS_FIRST_DUE'].median(), inplace=True)
dfe['DAYS_LAST_DUE_1ST_VERSION'].fillna(dfe['DAYS_LAST_DUE_1ST_VERSION'].median(), inplace=True)
dfe['DAYS_LAST_DUE'].fillna(dfe['DAYS_LAST_DUE'].median(), inplace=True)
dfe['DAYS_TERMINATION'].fillna(dfe['DAYS_TERMINATION'].median(), inplace=True)
dfe['NFLAG_INSURED_ON_APPROVAL'].fillna(0, inplace=True)
dfe['AMT_GOODS_PRICE'].fillna(dfe['AMT_GOODS_PRICE'].median(), inplace=True)
dfe['AMT_ANNUITY'].fillna(dfe['AMT_ANNUITY'].median(), inplace=True)
dfe['CNT_PAYMENT'].fillna(dfe['CNT_PAYMENT'].median(), inplace=True)
dfe['AMT_CREDIT'].fillna(dfe['AMT_CREDIT'].median(), inplace=True)

# 3. Imputasi kategorikal
dfe['NAME_TYPE_SUITE'].fillna('Unknown', inplace=True)
dfe['PRODUCT_COMBINATION'].fillna(dfe['PRODUCT_COMBINATION'].mode()[0], inplace=True)

# 4. drop kolom yang hanya memiliki 1 data hilang
dfe.drop(index=dfe[dfe.isnull().sum(axis=1) == 1].index, inplace=True)

In [27]:
styled_result = check_nan(dfe)

styled_result

In [28]:
dfe.to_parquet('prev_app.parquet', index=False)